<?php
		$string = $string?iconv($config['SystemCharset'],"utf-8",$string):null;
		sort($lib['dir']);
		sort($lib['file']);
		foreach($lib['dir'] as $arr)
		{
			$url = "";
			$img = "";
			$arr['name'] = iconv($config['SystemCharset'],"utf-8",$arr['name']);
			if($arr['name'] == "." )
				continue;
			if($arr['name'] == "..")
			{
				$url  = dirname($string);
				$img  = "HDir/img/filetype/05.gif";
			}
			else
			{
				$append = $string?"/":false;
				$url .= $string.$append.urlencode($arr['name']);
				$img  = "HDir/img/filetype/02.gif";
			}
			
			if($url == ".")
				$url = "";
			$size = getSize($arr['details']['stat']['size']);
			$time = date("Y-m-d H:i",$arr['details']['stat']['ctime']);
			echo <<<HTML
				<tr>
					<td style="width:5%;text-align:right;border:none;">
						<img src="{$img}" />
					</td>
					<td style="width:50%;background-color: lightcoral;">
						<a href="?{$url}">{$arr['name']}</a>
					</td>
					<td style="width:15%;background-color: lightgreen;">
						Folder
					</td>
					<td style="width:15%;background-color:lightseagreen;">
						{$time}
					</th>
					<td style="width:15%;background-color: lightskyblue;">
						{$size}
					</td>
				</tr>
HTML;
		}
		foreach($lib['file'] as $arr)
		{
			
			$arr['name'] = iconv($config['SystemCharset'],"utf-8",$arr['name']);
			if($string == false)
			{
				$url  =  $arr['name'];
			}else
			{
				$url  =  $string."/".urlencode($arr['name']);
			}
			$size = getSize($arr['details']['stat']['size']);
			$time = date("Y-m-d H:i",$arr['details']['stat']['ctime']);
			$type = $arr['details']['pathinfo']['extension']?$arr['details']['pathinfo']['extension']."文件":"未知文件";
			//$arr['name'] = iconv($config['SystemCharset'],"utf-8",$arr['name']);
			$img  = "HDir/img/filetype/".getMType($arr['details']['pathinfo']['extension']?$arr['details']['pathinfo']['extension']:null).".gif";
			//$pname = urlencode($arr['name']);
			echo <<<HTML
				<tr>
					
					<td style="width:5%;text-align:right;border:none;">
						<img src="{$img}" />
					</td>
					
					<td style="width:50%;background-color: lightcoral;">
						<a href="{$url}">{$arr['name']}</a>
					</td>
					
					<td style="width:15%;background-color: lightgreen;">
						{$type}
					</td>
					<td style="width:15%;background-color:lightseagreen;">
						{$time}
					</th>
					<td style="width:15%;background-color: lightskyblue;">
						{$size}
					</td>
					
				</tr>
HTML;
		}
?>